html {
    height: 100%;
    width: 100%;
    cursor: default;
}
body {
    min-width: 100%;
    min-height: 100%;
    position:relative;
    background: #008080;
    font-family: M 8pt;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    overflow: hidden;
}

img {
    width: 3rem;
    height: 3rem;
}

p {
    color: white;
    margin-top: 0;
}

.icons {
    width: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer {
    background-color: rgb(189, 189, 189);
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid white 2px;
    position: absolute;
    bottom: 10px;
    margin-bottom: -19px;
}

.footer p {
    color: black;
    margin: 0 0 0 3px;
    font-weight: bold;
}

.footer img {
    width: 20px;
    height: 20px;
}

.contact_button {
    margin-left: 5px;
    height: 15px;
    width: 80px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-right: solid rgb(59, 59, 59) 2px;
    border-bottom: solid rgb(59, 59, 59) 2px;
    border-top: solid white 2px;
    border-left: solid white 2px;
}

.contact_button-toggle {
    border-top: solid rgb(59, 59, 59) 2px;
    border-left: solid rgb(59, 59, 59) 2px;
    border-bottom: solid white 2px;
    border-right: solid white 2px;
}

.clock_button {
    margin-right: 5px;
    width: 60px;
    height: 15px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-top: solid grey 2px;
    border-left: solid grey 2px;
    border-bottom: solid white 2px;
    border-right: solid white 2px;
}

.linkedin, .github, .facebook , .telephone {
    display: flex;
    align-items: center;
    padding-left: 2px;
}

.linkedin:hover, .github:hover, .facebook:hover , .telephone:hover {
    background-color: mediumblue;
}

.contact_bar a {
    margin: 0 0 0 10px;
    color: black;
    width: 180px;
    height: 48px;
}

.contact_bar a:hover {
    color: white;
}

.contact_bar {
    background-color:rgb(189, 189, 189);
    width: 200px;
    border-right: solid black 2px;
    border-bottom: solid black 2px;
    border-top: solid white 2px;
    border-left: solid white 2px;
    position: relative;
    margin-left: 5px;
    display: none;
}

.contact_bar-toggle {
    display: block;
}

.folder {
    display: flex;
    justify-content: center;
    top: 50%;
    margin-top: -280px;
}

.folder_placeholder, .folder_icons {
    display: flex;
    align-items: center;
}

.folder_background {
    background-color: rgb(189, 189, 189);
    width: 40%;
    height: 380px;
    border-right: solid black 2px;
    border-bottom: solid black 2px;
    border-top: solid white 2px;
    border-left: solid white 2px;
}

.folder_header {
    width: 98%;
    height: 23px;
    background-color: rgb(5, 5, 143);
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.folder_placeholder img {
    width: 25px;
    height: 20px;
}

.folder_placeholder a {
    color: white;
}

.folder_icons img {
    width: 16px;
    height: 15px;
    background-color:  rgb(189, 189, 189);
    border-right: solid black 2px;
    border-bottom: solid black 2px;
    border-top: solid white 2px;
    border-left: solid white 2px;
    margin-right: 2px;
}

.folder_nav ul {
    display: flex;
    list-style: none;
    margin-left: -25px;
    margin-top: 3px;
}

.folder_nav li:nth-child(2), .folder_nav li:nth-child(3), .folder_nav li:nth-child(4) {
    margin-left: 10px;
}

.folder_body {
    width: 98%;
    height: 80%;
    margin: 0 auto;
    border-left: solid black 2px;
    border-top: solid black 2px;
    border-bottom: solid white 2px;
    border-right: solid white 2px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    font-size: 0.9rem;
    background-color: white;
}

.folder_body img {
    width: 48px;
    height: 38px;
}

.branding, .landing_pages, .threeD_projects, .prototypes, .animations {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3px;
}